.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 6fr 10fr 1fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "header header" "sidebar main" "footer footer";
    background-color: darkgrey;
    color: black;
}

.box {
    color: #fff;
    text-align: center;
}

.header {
    grid-area: header;
    font-size: 8vw;
    text-shadow: -2px 1px lightblue;
    color: midnightblue;
    line-height: 20vh;
    background-image: url('/static/coffee_art.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.sidebar {
    grid-area: sidebar;
    background: linear-gradient(180deg, rgba(161,83,37,1) 0%, rgb(206, 139, 100) 100%);
    font-size: 18pt;
    line-height: 2;
}

.list {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 10px;
}

.list a {
    text-decoration: none;
    color: mintcream;
}

.list a:hover {
    text-decoration: underline midnightblue;
}

.main {
    grid-area: main;
    background-color: whitesmoke;
    color: rgb(83, 45, 28);
    font-size: 14pt;
    line-height: 1.5;
    font-family: sans-serif;
    display: flex;
}

.text {
    border: grey 1px solid;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.main-img {
    width: 350px;
}

.footer {
    grid-area: footer;
    background: linear-gradient(90deg, rgb(206, 139, 100) 20%, rgba(161,83,37,1) 100%);
    font-size: 15pt;
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        grid-template-rows: auto auto auto 50px;
        grid-template-columns: 1fr;
        grid-template-areas: "header" "sidebar" "main" "footer";
    }
    .header {
        font-size: 12vw;
    }

    .main {
        flex-direction: column;
        width: auto;
    }

    .main-img {
        width: 70vw;
    }
}
