.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-rows:     2fr 10fr 1fr;
    grid-template-columns:  1fr 5fr;
    grid-template-areas:    "header header"
                            "sidebar main"
                            "footer footer";
    background-color: darkgrey;
    color: black;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        grid-template-rows:     4fr 3fr 10fr 2fr;
        grid-template-columns:  1fr;
        grid-template-areas:    "header"
                                "sidebar"
                                "main"
                                "footer";
    }
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: blue;
    background-image: url(/static/chocolate_cake_above.jpg);
}

.sidebar {
    grid-area: sidebar;
    background-color: brown;
}

.main {
    grid-area: main;
    background-color: crimson;
}

.footer {
    grid-area: footer;
    background-color: darkgreen;
}