/* BODY */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header */

header {
    background-image: url("static/pexels-pixabay-158636.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-y: bottom;
    display: flex;
    justify-content: center;
    top: 0;
    /* height: 50vh; */
}

.logo {
    font-size:300px;
    font-family:cursive;
    color: darkslategray;
    text-shadow: 1px 1.5px lightgray;
    line-height: 50vh;
}

/* NAV */

.nav {
    position: sticky;
    top: 0;
    background-color: blanchedalmond;
    display: flex;
    justify-content:center;
    }

.menu {
    display: inline;
    padding-inline: 1vw;
    line-height: 3.5;
    font-size: 15pt;
}

.menu a {
    color: darkolivegreen;
    text-decoration: none;
    font-size: 15pt;
}

.menu a:hover {
    text-decoration: underline grey;
}

/* MAIN 2 COLUMN */

.col-2 {
    text-align: center;
    display:flex;
    width: 90vw;
    margin: 20px;
    justify-content: center;
}

.col-2 div{
    padding: 20px;
}

.left {
    line-height: 2.5;
}

.right {
    display: flex;
    flex-direction: column;
}

.column {
    border: 1px solid grey;
}

img {
    width: 300px;
}

.right-stack {
    display: flex;
    justify-content: center;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 1000px) {
    .nav{
        flex-direction: column;
        align-items: center;
        position: relative
    }
    .logo {
        font-size: 80px;
        line-height: 15vh;
    }
    .col-2 {
        flex-direction: column;
        justify-content: center;
    }   
    .col-2 div{
        padding: 10px;
    }
    .right-stack {
        flex-wrap: wrap;
    }

}


/* FOOTER */

footer {
    background-color: mintcream;
    width: 100%;
    position: sticky;
    /* Set the fixed height of the footer here */
    min-height: 10vh; 
    /* Vertically center the text there */
    line-height: 1.5;
    text-align: center;
  }
